@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  word-spacing: -1px;
}

.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/image/governor house pic.jpg'); /* Use public folder path */
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.center-part h3 {
  word-spacing: -2px;
}

.center-part p {
  word-spacing: 4px;
}